<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<div class="container">
    <% for (var i = 0; i < data.length; i++) {%>
        <tr>
          <td><%= data[i]["_id"] %></td>
          <td><%= data[i]["name"] %></td>
          <td><%= data[i]["phoneNumber"] %></td>
        </tr>
    <%}%>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
