<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Giriş Yap</h1>
        <% if (typeof error !== 'undefined') { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <form action="/users/login" method="POST">
          <div class="form-floating mb-3">
            <input
              type="number"
              id="phoneNumber"
              name="phoneNumber"
              class="form-control"
              placeholder="Telefon Numaranızı Girin"
            />
            <label for="phoneNumber">Telefon Numarası</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Şifrenizi Girin"
            />
            <label for="password">Şifre</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-3">Giriş Yap</button>
        </form>
        <p class="lead mt-4">
          Admin için <a href="/users/register">panel</a>
        </p>
      </div>
    </div>
  </div>
</div>
