<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <img class="d-flex justify-content-center" src="/images/png.png" alt="bune", width="50", height="50">
            <p>Test Success brom go brrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
            <%= mid %>
        </div>
    </div>
</div>
