<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img class="d-flex justify-content-center" src="/images/png.png" alt="bune", width="50", height="50">
      <p>Sistem admini olarak yada öğretmen olarak girin</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Admin Girişi</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Öğretmen Girişi</a>
    </div>
  </div>
</div>
